PREDICTING THE HOUSE VALUES USING LINEAR REGRESSION ML ALGORITHM
ON THE BOSTON DATASETS

In [ ]:
#IMPORTING REQUIRED LIBRARIES

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#IMPORTING THE BOSTON HOUSE PRICE DATASET

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
df = load_boston()

In [ ]:
# CONVERTING THE DATASET INTO PANDAS DATAFRAME

In [ ]:
boston = pd.DataFrame(df.data,columns=df.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
# APPENDING THE TARGET COLUMN TO BOSTON DATAFRAME

In [ ]:
boston["Target"] = df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [ ]:
# CHECKING IF THERE ANY NULL CELL PRESENT IN THIS DATAFRAME

In [ ]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Target     0
dtype: int64

In [ ]:
# IMPORTING train_test_split FUNCTION USED TO SEPARATE DATA FOR TRAING AND TESTIN ML MODEL

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# DECLARE AND INITIALIZING X AS INDEPENDENT AND Y AS DEPENDENT VARIEBLE OR DATASET FOR ML MODEL

In [ ]:
x = boston.drop("Target",axis=1)
y = boston["Target"]

In [ ]:
# SEPARATING BOTH X AND Y DATASETS INTO 2 DIFFERENT RANDOM PARTS AS TRAINING AND TESTING DATASETS

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
# IMPORTING LINEAR REGRESSION AND MSE

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# CREATING MODEL

In [ ]:
lr = LinearRegression()

In [ ]:
# FITTING THE TRAINING DATASET TO THE MODEL

In [ ]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# PREDICTING THE TRAINING DATA

In [ ]:
y_train_pred = lr.predict(x_train)

In [ ]:
print("model performance for training datasets : ")
print("MSE is : ",np.sqrt(mean_squared_error(y_train,y_train_pred)))

model performance for training datasets :
MSE is :  4.744407443073468

In [ ]:
# PREDICTING THE TESTING DATA

In [ ]:
y_test_pred = lr.predict(x_test)

In [ ]:
print("model performance for testing datasets : ")
print("MSE is : ",np.sqrt(mean_squared_error(y_test,y_test_pred)))

model performance for testing datasets :
MSE is :  4.690947027724816